requests
bcrypt
langchain 
openai 
langchain-openai
langchain-community 
faiss-cpu 
jq
matplotlib
langgraph
dash
dash_cytoscape
dash-cytoscape
jupyter-dash
dash_bootstrap_components
dash-dangerously-set-inner-html
flask
markdown
sqlite-web
importlib
pyautogen
"ag2[openai]"

